<nav class="navbar navbar-expand-lg navbar-dark">

  <a class="navbar-brand cursor" (click)="regresar()">
    <img src="./assets/images/pokeball.png" width="30" height="30"> API POKEMON </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav"></ul>
    <form class="form-inline d-flex">
      <input #txtSearch class="form-control mr-sm-2" type="search" placeholder="Buscar Pokemon" aria-label="Search"
        (keyup.enter)="search(txtSearch.value)">

      <button (click)="search(txtSearch.value)" class="btn btn-success" type="submit"><b>Search</b></button>
    </form>
  </div>

</nav>
